# {{ ansible_managed }}
kind: "ldap"
version: v2
metadata:
  name: "freeipa"
spec:
  # FreeIPA / Red Hat IdM LDAPS Host
  addr: "{{ teleport_deploy_freeipa_host }}:636"
  server_name: "{{ teleport_deploy_freeipa_host }}"
  insecure: false
  root_ca_pool: "/etc/teleport/certs/freeipa-ca.crt"

  # Service Account for Directory Queries
  bind_dn: "{{ teleport_deploy_freeipa_bind_dn }}"
  secret_meta:
    path: "/etc/teleport/secrets/freeipa-bind-password"

  # User & Group Search Settings
  user_search:
    base_dn: "{{ teleport_deploy_freeipa_base_dn }}"
    filter: "(uid={user})"
    attribute_mapping:
      username: "uid"
      name: "cn"
      email: "mail"

  # Mapping FreeIPA POSIX Groups to Teleport RBAC Roles
  group_to_roles:
    - group: "teleport-admins"
      roles:
        - "access"
        - "editor"
        - "auditor"
    - group: "teleport-users"
      roles:
        - "access"
...
